/* Header */
.main-nav {
    background-color: #003566;
}
.main-nav .navbar-nav a.nav-link {
    color: #fff;
    font-weight: 600;
}
.main-nav .navbar-nav .nav-link.active,.main-nav .navbar-nav .nav-link:hover {
    color: #ffc300
}
.navbar.scrolled {
    background-color: #fff;
    transition: background-color 0.5s ease;
    box-shadow: 0px -10px 30px #666;
}
.navbar.scrolled a.nav-link{
    color: #666;
}
.navbar img.main-logo{
    max-width: 150px;
}
.navbar img.main-logo-putih {
    display: none;
}
.navbar.scrolled img.main-logo-putih {
    display: inline-block;
}
.navbar.navbar.navbar.scrolled img.main-logo-hitam {
    display: none;
}
/* untuk global */
.main-biru {
  background-color: #003566; 
  color: #fff; 
}
.main-biru h2 span {
    color: #ffc300;
}
button.btn.warning {
    background-color: #ffc300;
}
h2.main-judul::after{
    margin:auto;
    margin-top:20px;
    display:block;
    border-bottom:10px solid #FFC300;
    width: 100px;
    border-radius: 25px;
    content: "";

}
.main-grey {
    background-color: #f9f9f9;
}
.main-atas-judul {
    color: #999;
    font-size: 22px;
    font-weight: 600;
}
a:hover {
    transition: color 0.5s ease;
}
/* untuk bagian jenis */
#main-jenis img{
    max-height: 175px;
    max-width: 270px;
}
#main-jenis a {
    display: inline-block;
    word-spacing: 20px;
    margin-right: 10px;
    margin-bottom: 10px; 
}
/*untuk blog*/
.main-blog-info img {
    width: 50px;
    border-radius: 50%;
    float: left;
}
.main-blog-info {
    color: #666;
    position: relative;
}
.main-blog-info a {
    padding-right: 15px;
    color: #666;
    text-decoration: none;
}
.main-blog-info a:hover {
    color: #ffc300;
}
#blog .main-blog-info span {
    font-size: 12px;
    padding-left: 15px;
} 
#blog a {
    text-decoration: none;
    color: #666;
}
#blog a:hover {
    color: #ffc300;
}

#blog-detail .main-blog-info img {
    float: none;
}

#blog-detail .main-blog-info span::before {
    content: "";
    top: 0px;
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 15px;
    background-color: #CCC;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

/* FOOTER */
.main-footer-menu h3 {
    color: #CCC;
    margin-bottom: 15px;
}
.main-footer-menu a {
    color: #fff;
    text-decoration: none;
}
.main-footer-menu a:hover {
    color: #ffc300;
}
.main-footer-menu ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}
.main-footer-menu ul li {
    margin-bottom: 10px;
}
.main-footer-copyright {
    background-color: #001D3D;
    color: #fff;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Number text (2/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Number text (3/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
